body{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}
/*start of navigation section*/
nav{
    padding-bottom: 10px;
}

nav a{
    margin-right: 10px;
    margin-left: 10px;
}
a{
    text-decoration: none;
    color: darkgray;
    transition: color 0.3s;
}

a:hover{
    color: white;
}

.navBar{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    z-index: 1;
}
/*end of navigation section*/


/*start of book segment*/
.book-segment{
    display: flex;
    height: 70vh;
    margin: 40px;

}
.book-description{
    width: 50%;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.book-description>div{
    overflow: scroll;
}
.book-description h1 {
    cursor: pointer;
    transition: transform 0.3s;
}
.book-description h1:hover,
.clicked{
    color:#FAA300;
    transform: scale(1.2);
}

.book-cover{
    width: 50%;
    margin: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
    cursor: pointer;

}
.book-cover:hover{
    transform: scale(1.1);
}

.book-cover-top{
    position: absolute;
    right:0;
    width: 50vw;
    height: 70vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.book-cover img {
    opacity: 1;
    transition: opacity 0.5s;
}


/*end of book segment*/

/*fake class*/
.width100{
    width: 100%;
}
.height100{
    height: 100%;
}